body {
    width: 980px;
    margin: auto;
}

header {
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

/* Logo */

.logo-box {
    position: relative;
    width: 0;
    height: 0;
}

.logo {
    position: absolute;
    bottom: 0;
    top: -20px;
    left: 15px;
}

/* Menu */

.menu {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.menu1 {
    background-color: #1b8e99;
    justify-content: end;
}

.menu2 {
    background-color: #660000;
}
.menu a {
    padding-inline: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    padding-inline: 20px;
    font-weight: 700;
    z-index: 2;
    height: 70px;
    display: flex;
    align-items: center;
}

.menu1 a:hover {
    background-color: #92c9ce;
}
.menu2 a:hover {
    background-color: #ffffff;
    color: #660000;
}

/* Banner */

.banner img {
    object-fit: cover;
    width: 100%;
    height: 434px;
}

.banner {
    width: 100%;
    height: 434px;
}

/* Main */

.container {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

/* Titulos */

.titulo-box {
    padding: 15px 15px 0 15px;
    display: flex;
    width: 100%;
}

.titulo-texto {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.titulo-texto h2 {
    padding-bottom: 5px;
}

.titulo-imagem {
    height: 77px;
    width: 125px;
}

.titulo {
    width: auto;
    display: flex;
    align-items: center;
}

.titulo1 {
    color: #660000;
    border-bottom: 3px solid #660000;
}

.titulo2 {
    color: #1c8e99;
    border-bottom: 3px solid #1c8e99;
}

/* Itens listados */

.itens-lista {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.produto {
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: tahoma;
}

.produto1 {
    border: 1px solid #1b8e99;
}

.produto2 {
    border: 1px solid #660000;
}

/* Detalhes Produtos */

.detalhe-produto {
    width: 100%;
    height: 280px;
}

.nome-produto {
    margin: 4px;
    font-size: 18px;
    text-align: center;
    padding: 5px 0 5px 0;
}

.nome-produto1 {
    background-color: #dfeeef;
    color: #1b8e99;
}

.nome-produto2 {
    background-color: #e9dbdd;
    color: #660000;
}

.detalhe-produto img {
    width: 100%;
    height: auto;
}

.descricao-produto {
    font-size: 13px;
    padding: 0 10px 20px 10px;
    margin: 0;
}

.descricao-produto1 {
    color: #1b8e99;
}

.descricao-produto2 {
    color: #660000;
}

/* Box Venda */

.box-venda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 96px;
    margin: 0;
    color: #ffffff;
    padding: 10px 10px 0 10px;
}

.img-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 60px;
    width: 70px;
    border-radius: 5px;
}

.box-venda img {
    width: 50px;
    height: 50px;
}

.venda1 {
    background-color: #1b8e99;
}

.venda2 {
    background-color: #660000;
}

.valores-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preco-produto {
    font-size: 30px;
    margin: 0;
}

.parcela-produto {
    font-size: 14px;
    margin: 0;
}

/* Divisão */

.divisao {
    height: 15px;

    margin: 0 15px 0 15px;
    background-color: #444444;
}

/* imagens rodape */

.drone-rodape1 {
    padding-left: 10px;
}

.drone-rodape2 {
    padding-left: 266px;
}

.drone-rodape3 {
    padding-left: 100px;
}

/* footer */

footer {
    height: 122px;
    width: 100%;
}

.rodape1 {
    height: 96px;
    background-color: #1b8e99;
    display: flex;
    gap: 100px;
    align-items: center;
}

.rodape2 {
    height: 26px;
    background-color: #660000;
    display: flex;
    justify-content: end;
}

.rodape2 p {
    margin: 0;
    padding: 0 100px 0 0;
    text-align: right;
    color: white;
    font-family: tahoma, arial, sans-serif;
    font-size: 14px;
}

.texto-rodape {
    color: white;
    font-family: tahoma, arial, sans-serif;
    font-size: 14px;
}

.imagem-professor {
    position: relative;
    width: 0;
    height: 0;
}

.imagem-professor img {
    position: absolute;
    left: -121px;
    top: -173px;
}

.logo-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
